{% if score %}
<center>
    <div style="width:600px">
    <div class="pull-left">
        <div>
            <img src="/static/app/content/number/{{objects.number}}.png" />
        </div>
        <div>
            <img src="/static/app/content/slider/{{objects.slider}}.png" />
        </div>
    </div>
    <div style="width:400px;margin-left:170px" class="text-left">
        <div>
            <h4>Overall Sentiment:</h4>
            <h1>{{objects.text}}</h1>
        </div>
        <div class="well" style="width:400px">
            {% if detail.manish1.debug.words.negative %}
            <p>Just double-check these words before sending:</p>
            <ul>
                {% for word in detail.manish1.debug.words.negative %}
                <li>{{word}}</li>
                {% endfor %}
            </ul>
            {% else %}
                <p>Great job. You must be the change you wish to see in the world.</p>
            {% endif %}
        </div>
    </div></div>
</center>
{% endif %}